! Base16 Twilight
! Scheme: David Hart (https://github.com/hartbit)

#define base00 #1e1e1e
#define base01 #323537
#define base02 #464b50
#define base03 #5f5a60
#define base04 #838184
#define base05 #a7a7a7
#define base06 #c3c3c3
#define base07 #ffffff
#define base08 #cf6a4c
#define base09 #cda869
#define base0A #f9ee98
#define base0B #8f9d6a
#define base0C #afc4db
#define base0D #7587a6
#define base0E #9b859d
#define base0F #9b703f

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05
*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06

! cursor setup

Xcursor.size: 40
Xcursor.theme: Adwaita

! urxvt setup

URxvt.depth: 32
URxvt.perl-lib: /usr/lib/urxvt/perl:/home/fwilson/software/urxvt-perl
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,resize-font
URxvt.letterSpace: -1
URxvt.font: xft:Input Mono Narrow:size=11,xft:xos4 Terminus:size=11
URxvt.matcher.button: 1
URxvt.url-select.underline: True
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.resize-font.show: C-slash
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.clipboard.pastecmd: xsel -o
URxvt.clipboard.copycmd: xsel -i
URxvt.meta8: False
URxvt.scrollBar: False

! rofi setup

rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

! Xearth setup

xearth.pos: fixed 34.716 -86.583
xearth.bigstars: 50
xearth.gamma: 2.6
xearth.label: true
xearth.labelpos: +10+10
xearth.markers: false
xearth.font: -*-terminus-*-r-normal-*-*-180-*-*-*-*-*-*
